{% extends 'base.html' %}
{% block content %}

<body>
    <main>
        <div>
            <h1> My Projects</h1>
            {% if not project_list %}
            <p>You are not assigned to any projects</p>
            {% else %}
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </thead>
                {% for project in projects_list %}
                <tbody>
                    <tr>
                        <td>{{project.name}}</td>
                        <td>{{project.task.all}}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </main>

</body>
{% endblock content %}